---
import { Image } from 'astro:assets';
import logoImageWhite from '../assets/images/logo-white.svg';

const year = new Date().getFullYear().toString();
---

<footer class='bg-very-dark-blue py-24'>
  <section class='wrapper grid gap-12 justify-items-center footer-area md:footer-area-md md:grid-cols-3 md:justify-items-stretch'>
    <form class='flex gap-4 w-full min-w-[100px] [grid-area:form]'>
      <input
        type='email'
        placeholder='Updates in your inbox…'
        class='min-w-[50px] flex-1 rounded-full px-4'
      />

      <input
        type='submit'
        value='GO'
        class='py-3 px-8 bg-bright-red rounded-full text-white'
      />
    </form>
    <nav
      class='grid
            grid-cols-[max-content_max-content] gap-y-4 justify-between text-white w-4/5 [grid-area:navigation] md:w-full'
    >
      <a href='#'>Home</a>
      <a href='#'>Pricing</a>
      <a href='#'>Products</a>
      <a href='#'>About Us</a>
      <a href='#'>Careers</a>
      <a href='#'>Community</a>
      <a href='#'>Privacy Policy</a>
    </nav>

    <div
      class='flex flex-wrap gap-4 justify-between w-full [grid-area:social-media]'
    >
      <a href='#'>
        <img src='images/icon-facebook.svg' class='w-8' />
      </a>
      <a href='#'>
        <img src='images/icon-youtube.svg' class='w-8' />
      </a>
      <a href='#'>
        <img src='images/icon-twitter.svg' class='w-8' />
      </a>
      <a href='#'>
        <img src='images/icon-facebook.svg' class='w-8' />
      </a>
      <a href='#'>
        <img src='images/icon-pinterest.svg' class='w-8' />
      </a>
      <a href='#'>
        <img src='images/icon-instagram.svg' class='w-8' />
      </a>
    </div>
    <a href='#' class='[grid-area:logo]'>
      <Image src={logoImageWhite} alt='Logo white' class='' />
    </a>
    <p
      class='text-dark-grayish-blue text-center [grid-area:copy] md:text-right'
    >
      Copyright {year}. All Rights Reserved
    </p>
  </section>
</footer>
