---
import { Image } from 'astro:assets';
import introImage from '../assets/images/illustration-intro.svg';
import Button from '../components/UI/Button.astro';
---

<section
  class='wrapper grid gap-8 justify-items-center items-center pb-12 md:grid-cols-2 md:py-24'
>
  <Image
    src={introImage}
    alt='Intro illustration'
    class='w-full max-w-lg md:order-1'
  />

  <article class='text-center space-y-6 md:text-left md:space-y-8'>
    <h1 class='text-4xl font-bold text-very-dark-blue md:text-5xl'>
      Bring everyone together to build better products.
    </h1>

    <p class='text-dark-grayish-blue'>
      Manage makes it simple for software teams to plan day-to-day tasks while
      keeping the larger team goals in view.
    </p>

    <Button
      text='Get started'
      class='text-vary-light-gray mx-auto shadow-xl shadow-bright-red/30 md:mx-0'
    />
  </article>
</section>
